<div class="text-center">
    <div class="row">
      <div class="col-xs-12 col-sm-4 ">
         <p>nombre d'utilisateurs : <%= User.count %></p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <p>nombres de livres : <%= Book.count %></p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <p>nombres de livres empruntées : <%= Reservation.count  %></p>
      </div>
    </div>
  <div class="banner">
  </div>
</div>



