<p id="notice"><%= notice %></p>
<div class="badge-container">
<%= image_tag "avatar.jpg", class: "avatar dropdown-toggle" %>

<p><%= @reservation.user_id%></p>

</div>
<p><%= @reservation.book.title %></p>
