<p id="notice"><%= notice %></p>
<h1>Reservation</h1>
<p>
  <strong>User:</strong>
  <%= @reservation.user %>
</p>

<p>
  <strong>livre:</strong>
  <%= @reservation.book.title %>
</p>

<%= link_to 'Back', reservations_path %>
