<p id="notice"><%= notice %></p>
<div class="badge-container">
<%= image_tag "avatar.jpg", class: "avatar dropdown-toggle" %>

</div>
<p><%= @reservation.user_id%>
</p>

<p><%= @reservation.book.title %>
</p>
